*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--f)
}

/* Font family */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

/* variables */

:root {
    --mClr: #3C4A61;
    --sClr: #75C8D2;
    --white: #fff;
    --fontfamily: 'Kanit', sans-serif;
}

/* header content  */

.header-content {
    margin: 10% 0%;
}
.infoText{
    text-align: center;
    padding: 0px 50px;
    margin-top: 30px;
    font-family: var(--fontfamily);
}
.h-info{
    color: var(--mClr);
    font-size: 50px;
}
.p-info {
    color: var(--sClr);
    font-size: 24px;
    line-height: 1.3;
}

/* main content */


.hexas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 130px;
}

.hex1{
    background-color: blue;
    height: 145px;
    width: 249.2px;
    position: relative;
    z-index: 1;
    margin: 80px 30px;
}
.hex1::after,
.hex1::before{
    content: "";
    position: absolute;
    top: 0px;
    left: -2px;
    z-index: -1;
}

.hex1,
.hex1::after,
.hex1::before{
    background: rgb(255, 255, 255);
    height: 145px;
    width: 249.2px  ; 
    border: 2px solid rgb(21, 32, 189);
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
.hex1::after{
    transform: rotate(60deg);
}
.hex1::before{
    transform: rotate(-60deg);
}

.hex1:hover,
.hex1:hover::before,
.hex1:hover::after{
    background: rgb(4, 212, 32);
    transition: linear .8s ease-in-out;
}
.hexas > .anchorHex > .hex1 > img {
    width: 60px;
    height: 60px;
position: absolute;
right: 0;
left: 0;
margin: auto;
z-index: 1;
}
.hexas > .anchorHex > .hex1 > p {
    text-align: center;  
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;  
    color: #3C4A61;
    margin-top: 72px;
    text-transform: uppercase;
}

.hexas > .anchorHex > .hex1 >  .hexIcon{
    text-align: center;  
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;  
    margin-top: 102px;
    width: 40px;
    height: 40px;
    text-transform: uppercase;
    color: white;
}

#hexa1,
#hexa1::after,
#hexa1::before{

    background: #75C8D2;
    border: 2px solid #75C8D2;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
#hexa1:hover,
#hexa1:hover:after,
#hexa1:hover:before {
    background: #75C8D2;
    transition: 0.6s;
    border: 2px solid #75C8D2;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
#hexa2,
#hexa2::after,
#hexa2::before{

    border: 2px solid #E45062;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
#hexa2:hover,
#hexa2:hover:after,
#hexa2:hover:before {
    background: #E45062;
    border: 2px solid #E45062;
    transition: 0.6s;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
#hexa3,
#hexa3::after,
#hexa3::before{

    border: 2px solid #AF90CB;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
#hexa3:hover,
#hexa3:hover:after,
#hexa3:hover:before {
    background: #AF90CB;
    border: 2px solid #AF90CB;
    transition: 0.6s;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
#hexa4,
#hexa4::after,
#hexa4::before{

    border: 2px solid #9ACC54;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}
#hexa4:hover,
#hexa4:hover:after,
#hexa4:hover:before {
    background: #9ACC54;
    border: 2px solid #9ACC54;
    transition: 0.6s ease-in-out;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}

.heximg2 {
    display: none;
}
.hex1:hover .heximg1{
    display : none;
    transition: 0.6s;
}
.hex1:hover .heximg2{
    display : block;
    transition: 0.6s;
}


/* paragraph  */

.contentText {
    margin-top: 70px;
    background: var(--sClr);
    border-top: 0.4px solid rgb(192, 192, 192);
}
.contentInfo {
    background: rgb(255, 255, 255);
    margin: 0px 30px;
    text-align: center;
    padding: 0px 80px;
}
.contentHeading{
    font-size: 30px;
    padding-top: 50px;
    font-weight: 400;
}
.p-content{
    font-size: 18px ;
    color: rgb(116, 116, 116);
}
span{
display: block;
padding: 20px 0px;
}

/* grid section  */


.aboutSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
    background: #75C8D2; 
    grid-auto-rows: auto;

    /* width: 100%; */
}

.about_img {
    width: 100%;
    height: 100%;

}
.info{
    word-wrap: break-word;
    margin-left: 36px;
    margin-top: 42px;
   
}

.H2 {
    text-transform: uppercase;
    font-weight: 400;
    /* padding-bottom: 27px; */
    color: #fff;
    margin: 18px;
    font-family: var(--family1);
}
.P2{
    color: var(--white);
    font-size: 18px;
    font-weight: 300;
    margin: 18px;
    padding-right: 5%;
    font-family: var(--family1);
}

@media (max-width: 39rem) {
    .about_img{
        width: 100% ;
    }
    .aboutSection{
        display: block;
    }
}

/* slider */


.ParentSlider{
    min-height: 20vh;
    display: grid;
    place-items: center;
}
.sliderMain {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-tracking{
    display: flex;
    width: calc(250px * 10);
    animation: scroll 20s linear infinite;
}

.logos {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.Slider-img {
    width: 100%;
}
.Slider-img:hover {
    transform: translateZ(20px);
    transition: transform 1s ease-in-out;
}

@keyframes scroll {
    
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 5));
    }
}

/* footer */

form{
    border: 1px solid rgb(150, 150, 150);
}
#footer {
    background: #3C4A61;
    padding: 0 0 10px 0;
    color: #444444;
    font-size: 14px;
    background: #3C4A61;
    font-family: var(--family1);
  }
  
  #footer .footer-newsletter {
    padding: 50px 0;
    background: #f1f6fe;
    text-align: center;
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #75C8D2;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #3C4A61 ;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #3C4A61;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact h3 span {
    color: #ffffff;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links > h4{
    font-size: 24px;
    font-weight: 400;
  }
  

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #ffffff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #F39E2C;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #dfa962;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  #footer .copyright {
    text-align: center;
    float: left;
    color: #fff;
  }
  
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
  }
  .py-4{
      background: #3C4A61;
      margin-left: 0px;
      margin-right: 0px;
  }
  
  @media (max-width: 768px) {
    #footer .copyright, #footer .credits {
      float: none;
      text-align: center;
      padding: 2px 0;
    }
  }
  